<div class="wrapper" fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <nav id="sidebar">
    <div class="outer">
      <div class="middle">
        <div class="menu">
          <ul class="list-unstyled components card">
            <li *ngIf="authGuardService.renderBasedOnRoles(['ROLE_ADMINISTRATOR','ROLE_CUSTOMER'])"><h2><a routerLink="registration">Profile</a></h2></li>
            <li *ngIf="authGuardService.renderBasedOnRoles(['ROLE_ADMINISTRATOR'])"><h2><a routerLink="users">Users</a></h2></li>
            <li *ngIf="authGuardService.renderBasedOnRoles(['ROLE_ADMINISTRATOR'])"><h2><a routerLink="booksEdit">Books</a></h2></li>
            <li *ngIf="authGuardService.renderBasedOnRoles(['ROLE_CUSTOMER'])"><h2><a routerLink="orders">Orders</a></h2></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
