.wrapper {
  display: flex;
  /*align-items: center;*/
  margin-top: 0px;
  max-height: 80%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 50vh;
  vertical-align: middle;
  /*border: 1px solid #4CAF50;*/
  /*max-height: 200px;*/
}

.outer {
  display: table;
  position: absolute;
  height: 80%;
  /*width: 100%;*/
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.menu{
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}
