  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Hello {{authGuardService.getCurrentUserLogin()}}</span>
      <span class="header-spacer"></span>
      <span class="order-span">
        <h2>
          <a routerLink="books" class="order-span" *ngIf="authGuardService.renderBasedOnRoles(['ROLE_CUSTOMER'])">Order</a>
        </h2>
      </span>

      <span>
      <button type="submit" class="btn btn-primary" (click)="this.logout()">Logout</button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
