<div class="container d-flex align-content-around flex-wrap"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div *ngFor="let book of books | paginate: config">
  <app-book [book]="book" (orderBook)="addBookToOrders($event)"></app-book>
  </div>




  <pagination-controls class="bottom-align-text"
                       [directionLinks]="directionLinks"
                       (pageChange)="onPageChange($event)"></pagination-controls>

</div>








