<div class="">
  <h2 class="list-unstyled components">Users</h2>
  <mat-input-container>
    <input matInput placeholder="Search users" #input>
  </mat-input-container>

  <mat-table #table class="mat-elevation-z8"[dataSource]="dataSource" matSort matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Username  </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.login}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>Gender</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.gender}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button type="submit" class="btn btn-primary float-right" (click)="this.deleteUser(user.userId)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="5" [pageSize]=this.paginator.pageSize [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
</div>

