<div class="">
  <h2 class="list-unstyled components">Books</h2>
  <mat-input-container>
    <input matInput placeholder="Search books" #input>
  </mat-input-container>

  <span>
      <button type="button" routerLink="/layout/book-add" class="btn btn-primary">Add</button>
      </span>

  <mat-table #table class="mat-elevation-z8"[dataSource]="dataSource" matSort matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name  </mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>Price</mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.price}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="photo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Photo</mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.photo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="visible">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Visible</mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.visible}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Count</mat-header-cell>
      <mat-cell *matCellDef="let book">{{book.quantity}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let book">
        <button type="submit" class="btn btn-primary float-right"(click)="this.editBook(book.bookId)">Edit</button>
        <button type="submit" class="btn btn-primary float-right" (click)="this.deleteBook(book.bookId)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="5" [pageSize]=this.paginator.pageSize [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
</div>

