<div class="container col-2">
  <div class="login-box">
    <form (ngSubmit)="login()" ngNativeValidate>
      <div class="row form-group">
        <div class="col align-content-center">
        <label>Sign Up</label>
        </div>
      </div>

      <div class="row form-group">
      <div class="alert alert-danger col align-content-center" *ngIf="errors.length!=0">
        Invalid credentials
      </div>
      </div>

      <div class="row form-group">
        <label for="inputEmail" class="float-left">Email</label>
        <input type="text" class="form-control" id="inputEmail" name="username" [(ngModel)]="username">
      </div>

      <div class=" row form-group">
        <label for="inputPassword" class="float-left">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="password" [(ngModel)]="password" required>
      </div>

        <div class="row form-group text-right">
          <div class="col text-right">
          <a routerLink="/registration">Register</a>
          </div>
        </div>

        <div class="row form-group text-right">
          <div class=" col text-right">
          <button type="submit" class="btn btn-primary float-right">Login</button>
        </div>
        </div>
    </form>
  </div>
</div>

