<div class="container col-md-3">
  <div>
    <form #registrationForm="ngForm" (ngSubmit)="submit(registrationForm.value)" ngNativeValidate>
      <div class="row form-group">
        <div class="col align-content-center">
          <h2 class="list-unstyled components" *ngIf="!authGuardService.renderBasedOnRoles(['ROLE_ADMINISTRATOR','ROLE_CUSTOMER'])">Registration</h2>
          <h2 class="list-unstyled components" *ngIf="authGuardService.renderBasedOnRoles(['ROLE_ADMINISTRATOR','ROLE_CUSTOMER'])">Profile</h2>
        </div>
      </div>

      <div class="row form-group">
        <div class="with-asterisk">
        <label for="username" class="float-left">Username</label>
        <input type="text" class="form-control" id="username" name="login" [(ngModel)]="user.login" required>
        </div>
      </div>

      <div class="row form-group">
        <div class="with-asterisk">
        <label for="password" class="float-left">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required="required">
        </div>
      </div>

      <div class="row form-group">
        <label for="confirmPassword" class="float-left">Confirm password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
        [(ngModel)]="user.confirmPassword">
        <small class="alert-danger" *ngIf="!passwordsMatchFlag">
          Password mismatch
        </small>
      </div>

      <div class="row form-group">
        <div class="with-asterisk">
        <label for="email" class="float-left">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required="required">
        </div>
      </div>

      <div class="row form-group">
        <div class="with-asterisk">
        <label for="birthday" class="float-left">Birthday</label>
        <input type="date" class="form-control" id="birthday" name="birthday" [ngModel]="user.birthday | date:'yyyy-MM-dd'" required="required">
        </div>
      </div>

      <div class="row form-group">
        <div class="with-asterisk">
        <label for="gender" class="float-left">Gender</label>
        <select class="form-control" id="gender" name="gender" [(ngModel)]="user.gender" required="required">
          <option *ngFor="let gender of genders" [ngValue]="gender">
            {{gender}}
          </option>
        </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col">
          <button type="submit" class="btn btn-primary float-right">Submit</button>
          <a type="button" class="btn btn-primary float-left" (click)="this.cancel()">Cancel</a>
        </div>
      </div>


    </form>
  </div>
</div>

