<div class="">

  <h2 class="list-unstyled components">My orders</h2>
  <mat-input-container>
    <input matInput placeholder="Search books" #input>
  </mat-input-container>

<mat-table #table class="mat-elevation-z8"[dataSource]="dataSource" matSort matSortDirection="asc" matSortDisableClear>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID  </mat-header-cell>
    <mat-cell *matCellDef="let order">{{order.orderId}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="bookTitle">
    <mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>Books</mat-header-cell>
    <mat-cell *matCellDef="let order">{{order.bookTitle}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
    <mat-cell *matCellDef="let order">{{order.price}}$</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
    <mat-cell *matCellDef="let order"></mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let order">
      <button type="submit" class="btn btn-primary float-right" (click)="this.deleteOrder(order.orderId)">Delete</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
  <mat-paginator [length]="5" [pageSize]=this.paginator.pageSize [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
</div>
