
.outer-book-block{
  margin-top: 50px;
}
.square-book-block{
  position:relative;
  overflow:hidden;
  margin:15px auto;
  /*background-color:#78909c;*/
  border-radius: 5px;
  display: block;
  /*padding: 100px 100px;*/
  text-align: center;
  /*max-width: 180px;*/
  height: 200px;
  width: 180px;
}

.right-bottom{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.book-name{
  position: relative;
  padding:0;
  top: 0%;
  margin:0;
  padding:0;
  align-content: center;
  word-wrap: break-word;
}

.book-title {
  position: relative;
  /*color: #fff;*/
  font-size: 20px;
  font-weight: 200;
  margin:0;
  padding:0;
  text-transform: uppercase;
  align-content: center;
  word-wrap: break-word;
}

#img{
  max-width: 100%;
  max-height: 100%;
}

/*#image{*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*background-image: url("/src/main/frontend/front-bookstore/src/assets/images/Tiger.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
/*}*/

