<div class="row">
<div class="col">
  <div class="outer-book-block">
  <div class="row book-name font-weight-bold d-inline-block text-truncate" style="max-width: 150px;">
    {{book.title}}
  </div>
<div class="square-book-block" fxFlex>
    <img id="img" [src]=book.photoPathSecure>

  <div class="right-bottom">
  <button type="button" class="fas fa-plus" (click)="addBookToOrder($event,book.bookId)" [disabled]="book.quantity<1" [matTooltip]="book.quantity<1 ? 'The book is out of stock': ''">
  </button>
  </div>
</div>
<div>{{book.price}}$</div>
  </div>
</div>
</div>
