`
<div class="container col-sm-4">

  <div class="align-items-center padding-box">
    <div class="">
    <form #addBookForm="ngForm" (ngSubmit)="submit()" ngNativeValidate>
      <div class="row form-group">
        <div class="col align-content-center">
          <h2>Book</h2>
        </div>
      </div>

      <div class="row form-group">
        <div class="with-asterisk">
          <label for="name" class="float-left">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="book.title" required>
        </div>
      </div>

      <div class="row form-group">
        <div class="with-asterisk">
          <label for="price" class="float-left">Price</label>
          <input type="number" min="0" class="form-control" id="price" name="price" [(ngModel)]="book.price" required="required">
        </div>
      </div>

      <div class="row form-group">
          <label for="photo" class="float-left form-group">Photo</label>
        <input #fileInput type="file" name="photo" value="Upload photo" (change)="onSelectFile($event)" id ="photo"/>
        <img id="img" [src]=book.photoPathSecure>
      </div>

      <div class="row form-group">
          <label for="name" class="float-left">Count</label>
          <input type="number" min="0" class="form-control" id="count" name="count" [(ngModel)]="book.quantity">
      </div>

      <div class="row form-group form-check">
        <input type="checkbox" class="form-check-input" id="visible" name="visible" [(ngModel)]="book.visible">
        <label class="form-check-label" for="visible">Visible</label>
      </div>

      <div class="row form-group">
        <div class="col">
          <button type="submit" class="btn btn-primary float-right">Submit</button>
          <a type="button" class="btn btn-primary float-left" (click)="this.cancel()">Cancel</a>
        </div>
      </div>

    </form>
  </div>
  </div>
</div>

