/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/

.form-group {
  position:relative;
  margin-right:15px;
}
.form-group div.with-asterisk:after {
  position:absolute;
  content:'*';
  color:red;
  right:-10px;
  top:0;
}

.with-asterisk{
  width:100%;
}

mat-header-cell {
  display:flex;
  justify-content:center;
}
